@tailwind base;
body {
    @apply font-body;
}
@tailwind components;
@tailwind utilities;

.html-block p {
    margin-top: 20px;
}

.tile-height,
.double-tile-height {
    height: 432px;
}

@media screen and (min-width: 769px) {
    .double-tile-height {
        height: 248px;
    }   
}

.text-blue-900 {
    color: #062D5B;
}

.bg-blue-900 {
    background-color: #062D5B;
}

button.bg-blue-900:hover {
    background-color: #093569;
}

.hover\:bg-blue-900:hover {
    background-color: #062D5B;
}

.border-blue-900 {
    border-color: #062D5B;;
}

.carousel .slider-wrapper {
    border-radius: 1rem;
}

.thumbs-wrapper {
    text-align: center;
}

.carousel .thumbs-wrapper li.thumb {
    border-radius: 0.5rem;
    border-width: 2px;
    padding: 0;
}

.thumbs-wrapper li.thumb.selected {
    border-radius: 0.5rem;
    border-color: #F27400;
}

.carousel-root > .carousel.carousel-slider {
    overflow: visible;
    background: white;
}

.carousel-root > .carousel.carousel-slider:hover .carousel-arrow {
    opacity: 1;
}

.project-modal::-webkit-scrollbar,
.chat-inner-container::-webkit-scrollbar {
    display: none;
}